body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #00293d;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: #F6603E;
}

h2 {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    font-size: 1.5em;
    color: #00293d;
}

.logo {
    width: 200px;
    margin: 20px;

}

a {
    color: #00293d;
    text-decoration: underline;
}

a:hover {
    color: #F6603E;
    text-decoration: underline;
}