body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: #F6603E;
}

.lijntje {
    border-top: 1px solid #00293d;
}
img {
    border-radius: 5%;
    margin: 15px;
    float:left;
    backface-visibility: 0.5;
    opacity: 0.5;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
img:hover {
    transition: .5s ease;
    opacity: 1;
}