body {
    background: url(kompas.jpg) no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-size: 30px;
    
}

.noord {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.oost {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
}

.zuid {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
}

.west {
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}