
/* color: FFFCF2;
color: CCC5B9;
color: 403D39;
color: 252422;
color: EB5E28; */

 body, header {
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:"wdth" 100;

    background-color: rgb(64, 61, 57);
    color: rgb(255, 252, 242);
    font-size: 20px;
}

h1, h2 {
    color: rgb(235, 94, 40);
    text-align: center;
}

.afbeelding {
    height: 300px;

}

nav {
    display: inline-block;
    display: flex;
    justify-content: center;
}

ul {

    float: center;
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: rgb(37, 36, 34);
    border-radius: 5px;
    padding: 10px 15px;
}

li a {
    display: block;
    color: rgb(255, 252, 242);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    flex: 1;
}

li a:hover {
    background-color: rgb(235, 94, 40);
    border-radius: 5px;
}

.active {
    background-color: rgb(235, 94, 40);
    border-radius: 5px;
}

.intro-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 80%;
    margin: 0 auto;
}

.intro-img {
    flex: 0 0 250px;
    max-width: 40%;
    height: auto;
    margin-right: 20px;
}

.intro-text {
    flex: 1;
    max-width: 60%;
    padding-right: 20px;
    box-sizing: border-box;
}

.footer {
    text-align: center;
}